In [13]:
from time import time

import pandas as pd
from sqlalchemy import create_engine

In [40]:
df = pd.read_csv('yellow_tripdata_2021-01.csv')

C:\Users\sauld\AppData\Local\Temp\ipykernel_25120\2722673778.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('yellow_tripdata_2021-01.csv')

In [43]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" REAL,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [20]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [21]:
print(pd.io.sql.get_schema(sample, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [24]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [26]:
try:
    while True:
        t_start = time()
        
        df_iter = next(df)
        
        df_iter.tpep_pickup_datetime = df_iter.tpep_pickup_datetime.apply(pd.to_datetime)
        df_iter.tpep_dropoff_datetime = df_iter.tpep_dropoff_datetime.apply(pd.to_datetime)
        
        df_iter.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        
        t_end = time()
        t_final = t_end - t_start
        
        print(f'inserted another chunk, took {t_final:.2f} seconds.')
        
except StopIteration:
    print("Data ingestion finished.")

inserted another chunk, took 20.30 seconds.
inserted another chunk, took 21.60 seconds.
inserted another chunk, took 23.38 seconds.
inserted another chunk, took 22.82 seconds.
inserted another chunk, took 22.89 seconds.
inserted another chunk, took 22.31 seconds.
inserted another chunk, took 22.55 seconds.
inserted another chunk, took 21.13 seconds.
inserted another chunk, took 21.45 seconds.
inserted another chunk, took 21.68 seconds.
inserted another chunk, took 21.53 seconds.
inserted another chunk, took 22.96 seconds.

C:\Users\sauld\AppData\Local\Temp\ipykernel_25120\35207327.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_iter = next(df)

inserted another chunk, took 22.10 seconds.
inserted another chunk, took 15.34 seconds.
Data ingestion finished.