In [29]:
from time import time

import pandas as pd
from sqlalchemy import create_engine

In [2]:
pd.__version__

'1.5.2'

In [5]:
df = pd.read_csv('ny_taxi_postgres_data/data/yellow_tripdata_2021-01.csv')

C:\Users\sauld\AppData\Local\Temp\ipykernel_6288\2844515627.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('ny_taxi_postgres_data/data/yellow_tripdata_2021-01.csv')

In [6]:
sample = df.sample(100)
sample

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1092099,1.0,2021-01-27 18:38:56,2021-01-27 18:49:18,0.0,1.70,1.0,N,170,229,1.0,9.00,3.50,0.5,1.00,0.0,0.3,14.30,2.5
930335,2.0,2021-01-23 19:56:52,2021-01-23 20:08:32,1.0,2.11,1.0,N,186,229,1.0,10.00,0.00,0.5,2.66,0.0,0.3,15.96,2.5
904042,2.0,2021-01-23 11:25:39,2021-01-23 11:27:26,1.0,0.54,1.0,N,262,262,1.0,4.00,0.00,0.5,1.82,0.0,0.3,9.12,2.5
557777,2.0,2021-01-15 08:23:17,2021-01-15 08:41:23,1.0,2.39,1.0,N,229,246,1.0,12.50,0.00,0.5,4.74,0.0,0.3,20.54,2.5
1139527,2.0,2021-01-28 17:47:38,2021-01-28 17:55:20,1.0,1.67,1.0,N,230,143,1.0,7.50,1.00,0.5,2.36,0.0,0.3,14.16,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1343128,NaN,2021-01-27 09:36:49,2021-01-27 09:51:32,NaN,2.72,NaN,NaN,61,71,NaN,20.87,2.75,0.5,0.00,0.0,0.3,24.42,0.0
267084,1.0,2021-01-08 11:30:05,2021-01-08 12:01:44,1.0,7.30,1.0,N,142,80,1.0,26.00,2.50,0.5,29.30,0.0,0.3,58.60,2.5
187672,2.0,2021-01-06 14:33:19,2021-01-06 14:54:36,5.0,3.60,1.0,N,263,152,2.0,16.00,0.00,0.5,0.00,0.0,0.3,19.30,2.5
838727,2.0,2021-01-21 19:48:06,2021-01-21 19:53:47,1.0,2.06,1.0,N,161,170,1.0,6.00,1.00,0.5,1.00,0.0,0.3,11.30,2.5
665237,1.0,2021-01-17 20:30:25,2021-01-17 20:36:19,2.0,0.90,1.0,Y,142,142,1.0,6.00,3.00,0.5,2.00,0.0,0.3,11.80,2.5

In [7]:
sample.tpep_pickup_datetime.apply(pd.to_datetime)

1092099   2021-01-27 18:38:56
930335    2021-01-23 19:56:52
904042    2021-01-23 11:25:39
557777    2021-01-15 08:23:17
1139527   2021-01-28 17:47:38
                  ...
1343128   2021-01-27 09:36:49
267084    2021-01-08 11:30:05
187672    2021-01-06 14:33:19
838727    2021-01-21 19:48:06
665237    2021-01-17 20:30:25
Name: tpep_pickup_datetime, Length: 100, dtype: datetime64[ns]

In [10]:
sample.tpep_pickup_datetime = sample.tpep_pickup_datetime.apply(pd.to_datetime)
sample.tpep_dropoff_datetime = sample.tpep_dropoff_datetime.apply(pd.to_datetime)

In [11]:
print(pd.io.sql.get_schema(sample, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [20]:
print(pd.io.sql.get_schema(sample, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [21]:
df = pd.read_csv('ny_taxi_postgres_data/data/yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [23]:
sample.to_sql(name='yellow_taxi_data', con=engine)

100

In [30]:
try:
    while True:
        t_start = time()
        
        df_iter = next(df)
        
        df_iter.tpep_pickup_datetime = df_iter.tpep_pickup_datetime.apply(pd.to_datetime)
        df_iter.tpep_dropoff_datetime = df_iter.tpep_dropoff_datetime.apply(pd.to_datetime)
        
        df_iter.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        
        t_end = time()
        t_final = t_end - t_start
        
        print(f'inserted another chunk, took {t_final:.2f} seconds.')
        
except StopIteration:
    print("Data ingestion finished.")

inserted another chunk, took 19.47 seconds.
inserted another chunk, took 19.30 seconds.
inserted another chunk, took 19.43 seconds.
inserted another chunk, took 19.44 seconds.
inserted another chunk, took 20.26 seconds.
inserted another chunk, took 20.32 seconds.
inserted another chunk, took 19.85 seconds.
inserted another chunk, took 19.98 seconds.
inserted another chunk, took 19.34 seconds.
inserted another chunk, took 19.62 seconds.
inserted another chunk, took 19.40 seconds.
inserted another chunk, took 19.61 seconds.

C:\Users\sauld\AppData\Local\Temp\ipykernel_6288\35207327.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_iter = next(df)

inserted another chunk, took 19.24 seconds.
inserted another chunk, took 12.98 seconds.
Data ingestion finished.